<!doctype html>
<html>

  <head>
    <title>Yelp Suggestions</title>
    <link rel="stylesheet" type="text/css" href="/static/base.css">
    <link rel="stylesheet" type="text/css" href="/static/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/static/layout.css">
    <style>
      .container{   
      text-align:center;
      margin-top: 75px;
      }
      
      .feature{
      margin-top: 200px;
      }
      
      #ratings{
      margin-bottom: 75px;
      }

      a {
      text-decoration: none;
      text-align:center;
      font-size:23px;

      }
      

      a:hover {
      text-decoration: underline;
      }

    </style>
  </head>


  <body>

    <div class="sixteen columns container">
      <h1>Welcome to Yelp Suggestions !</h1>
    </div>

    <div class="container">
      <div class="columns two feature" >
      </div>


      <div class="five columns feature" id="ratings">
	<a href="/user/">Suggestions by User</a>
      </div>


      <div class="columns two feature" >
      </div>
      

      <div class="five columns feature">
	
      	<a href="/ratings/">Suggestions by Ratings</a>
      </div>

      <div class="columns two feature" >
      </div>

    </div>
    

  </body>
</html>

